<template>
    <div></div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';

export default {
    computed: {
        ...mapState(["students"]),
        ...mapGetters(["promos"]),
        filteredStudents() {
            return this.students.filter(student => student.promo === this.selected);
        }
    }
}
</script>

<style>

</style>
