<template>
    <md-button v-if="!logged" @click="login()">Login</md-button>
</template>

<script>
import { mapState } from "vuex";
import firebase from "firebase/app";

export default {
  computed: {
    ...mapState(["logged"])
  },
  methods: {
    login() {
      let provider = new firebase.auth.GoogleAuthProvider();
      firebase.auth().signInWithPopup(provider);
    }
  }
};
</script>

<style>

</style>
